<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigtop.stephen.bigtoptricks">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name_short"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.bigtop.stephen.bigtoptricks.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.bigtop.stephen.bigtoptricks.data.Provider"
            android:authorities="com.bigtop.stephen.bigtoptricks"
            android:exported="false" />

        <activity android:name="com.bigtop.stephen.bigtoptricks.addTricks.AddTrick"
            android:parentActivityName="com.bigtop.stephen.bigtoptricks.MainActivity"/>
        <activity
            android:name="com.bigtop.stephen.bigtoptricks.Training"
            android:screenOrientation="portrait"
            android:parentActivityName="com.bigtop.stephen.bigtoptricks.MainActivity" />
        <activity android:name="com.bigtop.stephen.bigtoptricks.DisplayData"
            android:parentActivityName="com.bigtop.stephen.bigtoptricks.MainActivity"/>
        <activity
            android:name="com.bigtop.stephen.bigtoptricks.addTricks.Library"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.bigtop.stephen.bigtoptricks.MainActivity"/>
        <activity android:name="com.bigtop.stephen.bigtoptricks.addTricks.TrickDiscovery"
            android:parentActivityName="com.bigtop.stephen.bigtoptricks.addTricks.Library"/>
        <receiver android:name="com.bigtop.stephen.bigtoptricks.TricksWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/tricks_widget_info" />
        </receiver>
    </application>

</manifest>